.single-guitar,
.single-ukulele {

}

.item-instrument {

}

/* -----------------------------------------------------------------------------
 * Single: Section
 * ----------------------------------------------------------------------------- */

.item-instrument__section {

}

/* Section - Content */
.item-instrument__section--content {

}

/* Section - Key Features */
.item-instrument__section--key-features {

}

/* Section - Options */
.item-instrument__section--options {

}

/* Section - Highlights */
.item-instrument__section--highlights {

}

.item-instrument__highlights-slide-media-anchor {
	display: block;
}

/* Section - Full Specs */
.item-instrument__section--full-specs {

}
