
/* -------------------------------------------------------------------------
 * Label
 * ------------------------------------------------------------------------- */

.form-control-label,
.t-content label {
	@mixin form-control-label;
}

/* -------------------------------------------------------------------------
 * Form Control Helper
 * ------------------------------------------------------------------------- */

.form-control-helper {
	@mixin form-control-helper;
}
