
/* -----------------------------------------------------------------------------
 * Table
 * ----------------------------------------------------------------------------- */

.table,
.t-content table {
	font-size: 14px;
	border-top: 1px solid var(--color-border);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	max-width: var(--grid-width-870);
	margin: var(--spacer-m) auto;

	@media (--viewport-medium) {
		font-size: var(--font-size-content-s);
		table-layout: auto;
		margin: 40px auto;
	}
}

/* -----------------------------------------------------------------------------
 * TH
 * ----------------------------------------------------------------------------- */

.th,
.t-content th {
	padding: 13px 1em 10px;
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-125);
	background-color: var(--color-wild-sand);
	border-bottom: 1px solid var(--color-border);

	& ~ th {
		border-left: 1px solid var(--color-border);
	}
}

/* -----------------------------------------------------------------------------
 * TR
 * ----------------------------------------------------------------------------- */

.tr,
.t-content tr {

	thead & {
		border-bottom: 1px solid var(--color-border);
	}

	& ~ tr {
		border-top: 1px solid var(--color-border);
	}
}

/* -----------------------------------------------------------------------------
 * TD
 * ----------------------------------------------------------------------------- */

.td,
.t-content td {
	padding: 14px 1em 12px;
	line-height: var(--line-height-135);

	& ~ td {
		border-left: 1px solid var(--color-border);
	}
}
