.item-instrument__content {
	margin-bottom: 20px;

	@media (--viewport-medium) {
		margin-bottom: 40px;
	}

	& + .item-instrument__media {
		margin-bottom: 20px;

		@media (--viewport-medium) {
			margin-bottom: 40px;
		}
	}
}

.item-instrument__media {

}
