.item-instrument__section--key-features {

	.social-share {
		text-align: left;
		margin-top: 25px;
	}
}

/* -----------------------------------------------------------------------------
 * Section: Key Features - Media
 * ----------------------------------------------------------------------------- */

.item-instrument__features-media {

	&.lazyloaded {
		opacity: 0.25;

		@media (--viewport-full) {
			opacity: 1;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Section: Key Features - Content
 * ----------------------------------------------------------------------------- */

div.item-instrument__features-content {
	text-align: left;
	max-width: 400px;
}

/* -----------------------------------------------------------------------------
 * Section: Key Features - Title
 * ----------------------------------------------------------------------------- */

.item-instrument__features-title {

}

/* -----------------------------------------------------------------------------
 * Section: Key Features - MSRP
 * ----------------------------------------------------------------------------- */

.item-instrument__features-msrp {
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-115);
	font-size: 18px;
	margin-bottom: 32px;

	abbr {
		text-decoration: none;
	}
}

/* -----------------------------------------------------------------------------
 * Section: Key Features - List
 * ----------------------------------------------------------------------------- */

.item-instrument__features-list {
	font-size: 18px;
	line-height: var(--line-height-12);
	border-bottom: 1px solid var(--color-nevada-50);
	padding-bottom: 30px;
	margin-bottom: 32px;
}

.item-instrument__features-list-item {

	& ~ .item-instrument__features-list-item {
		margin-top: 18px;
	}
}

.item-instrument__features-list-label {
	color: var(--color-mojo);
	display: inline;
	margin-right: 6px;
}

.item-instrument__features-list-values {
	display: inline;
}

.item-instrument__features-list-value {
	display: inline;
	margin-right: 4px;
}

/* -----------------------------------------------------------------------------
 * Section: Key Features - Dealers Action
 * ----------------------------------------------------------------------------- */

.item-instrument__dealers {

}
