/* -----------------------------------------------------------------------------
 *
 * Panel Component: Titles
 *
 * Note: This class is intended to be used along with the corresponding
 * kitchen sink heading, spacer, and/or color helper classes
 *
 * ----------------------------------------------------------------------------- */

.panel__title {

}
