
/* -----------------------------------------------------------------------------
 *
 * Font: Gotham
 *
 * WEIGHTS & STYLES:
 *
 * Regular (400 - regular & italic)
 * Medium  (500)
 * Bold    (700 - regular & italic)
 *
 * ----------------------------------------------------------------------------- */

/* NOTE: served via Typography.com */

/* -----------------------------------------------------------------------------
 *
 * Font: Quando
 *
 * WEIGHTS & STYLES:
 *
 * Regular (400)
 *
 * ----------------------------------------------------------------------------- */

/* NOTE: served via Google Fonts */
