/* -----------------------------------------------------------------------------
 *
 * SVG Icons: Icons (via PostCSS Inline SVG)
 *
 * ----------------------------------------------------------------------------- */

.svgicon {
	background-size: contain;
	background-repeat: no-repeat;
}

.svgicon-logo {
	background-image: svg-load('logos/logo.svg');
}

.svgicon-logo-iron {
	background-image: svg-load('logos/logo.svg', fill=var(--color-iron));
}
