.error404 {

}

.error404-wrapper {
	text-align: center;
}

.error404-title {
	font-size: 26px;
	margin-bottom: 26px;
}

.error404-content {
	margin-bottom: 50px;

	@media (--viewport-medium) {
		margin-bottom: 75px;
	}
}

.error404-search {
	max-width: var(--grid-width-630);
}
