
/* -----------------------------------------------------------------------------
 *
 * Spacer: Margin Bottom
 *
 * ----------------------------------------------------------------------------- */

.u-spacer-mb-xs {
	margin-bottom: 0.525em;
}

.u-spacer-mb-s {
	margin-bottom: 1em;
}

.u-spacer-mb-m {
	margin-bottom: 1.5em;
}

.u-spacer-mb-lg {
	margin-bottom: 2.65em;
}
