
/* -----------------------------------------------------------------------------
 *
 * Clearfix
 *
 * ----------------------------------------------------------------------------- */

.u-clearfix {
	@mixin clearfix;
}

/* -----------------------------------------------------------------------------
 *
 * Text Align: Center
 *
 * ----------------------------------------------------------------------------- */

.u-center {
	text-align: center;
}
