.c-card__swatches {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.c-card__swatches-item {
	margin: 6px 4px 0;
	flex: 0;
}

.c-card__swatches-image {
	margin-bottom: 2px;
	max-width: 25px;
}

.c-card__swatches-label {
	display: block;
	line-height: 1;
	font-size: 12px;
	font-weight: var(--font-weight-regular);
	color: var(--color-jumbo);
}
