.c-card__title {
	font-family: var(--font-family-quando);
	font-size: 20px;
	line-height: var(--line-height-12);
	color: var(--color-mako);
	letter-spacing: var(--letter-spacing-025);
	margin-bottom: 10px;
	transition: var(--transition-ease);

	/* CASE: simple style/layout - centered and no border */
	.c-card--simple & {
		font-size: 14px;
		margin-bottom: 9px;

		@media (--viewport-full) {
			font-size: 16px;
			margin-bottom: 13px;
		}
	}
}
