:root {
	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--form-border-color: var(--color-alto);
	--form-border-color-focus: var(--color-mako-alt);
	--form-border-size: 1px;
	--form-border-size-focus: var(--form-border-size);
	--form-border-radius: 0;

	/* -----------------------------------------------------------------------------
	 * Colors
	 * ----------------------------------------------------------------------------- */

	--form-color: var(--color-text);
	--form-color-secondary: var(--color-nevada);
	--form-color-error: #e00;
	--form-color-required: var(--form-color-error);
	--form-color-success: var(--color-waikawa-grey);
	--form-color-placeholder: var(--color-mountain-mist);

	/* -----------------------------------------------------------------------------
	 * UI
	 * ----------------------------------------------------------------------------- */

	--form-ui-icon-color: var(--color-silver-alt); /* Control icons */
	--form-ui-icon-font-size: 20px; /* Control icons */
	--form-ui-color: var(--color-mountain-mist); /* Select icon */
	--form-ui-bgd-color: var(--color-wild-sand);  /* Select, Checkbox, & Radio */
	--form-ui-bgd-color-focus: var(--color-bali-hai);  /* Select */
	--form-ui-icon-select: var(--icon-angle-down); /* Select */
	--form-ui-icon-select-font-size: 26px; /* Select */

	/* -----------------------------------------------------------------------------
	 * Fonts
	 * ----------------------------------------------------------------------------- */

	--form-font-family: var(--font-family-base);
	--form-font-size: 14px;
	--form-font-size-secondary: 14px; /* Label */
	--form-font-weight-secondary: var(--font-weight-bold); /* Label */
	--form-font-size-tertiary: 12px; /* Helper Text & Descriptions */
	--form-font-weight-tertiary: var(--font-weight-regular); /* Helper Text & Descriptions */
	--form-letter-spacing: normal;
	--form-text-transform: none;
	--form-control-height: 45px;

	/* -----------------------------------------------------------------------------
	 * Spacing
	 * ----------------------------------------------------------------------------- */

	--form-margin: 28px;
	--form-margin-small: 12px;
	--form-padding-horizontal: 16px;
	--form-padding-vertical: 16px;
}
