:root {
	--gradient-black-to-top-0-35: linear-gradient(to top, var(--color-black-0), var(--color-black-35));
	--gradient-black-to-top-0-6: linear-gradient(to top, var(--color-black-0), var(--color-black-6));
}
