:root {
	/* -----------------------------------------------------------------------------
	 * Gutters
	 * ----------------------------------------------------------------------------- */

	--grid-gutter: 30px;
	--grid-gutter-negative: calc(var(--grid-gutter) * -1);
	--grid-gutter-half: calc(var(--grid-gutter) / 2);
	--grid-gutter-half-negative: calc(var(--grid-gutter-half) * -1);

	/* Gutter - Small */
	--grid-gutter-small: 20px;
	--grid-gutter-small-negative: calc(var(--grid-gutter-small) * -1);
	--grid-gutter-small-half: calc(var(--grid-gutter-small) / 2);
	--grid-gutter-small-half-negative: calc(var(--grid-gutter-small-half) * -1);

	/* -----------------------------------------------------------------------------
	 * Widths
	 * ----------------------------------------------------------------------------- */

	--grid-width: calc(1170px + var(--grid-gutter) * 2);
	--grid-width-1160: 1160px;
	--grid-width-970: 970px;
	--grid-width-870: 870px;
	--grid-width-770: 770px;
	--grid-width-630: 630px;
	--grid-width-470: 470px;
}
