:root {
	/* -----------------------------------------------------------------------------
	 * Spacers (margin & padding)
	 * ----------------------------------------------------------------------------- */

	--spacer: 30px;
	--spacer-xxs: 10px;
	--spacer-xs: 15px;
	--spacer-s: 20px;
	--spacer-m: 35px;
	--spacer-lg: 50px;

	/* -----------------------------------------------------------------------------
	 * Spacers (site header)
	 * ----------------------------------------------------------------------------- */

	--spacer-site-header-mobile: 52px;
	--spacer-site-header-not-stuck-child-open: 120px;
	--spacer-site-header-stuck: 78px;
	--spacer-site-header-full: 103px;
	--spacer-site-header-large: 119px;
	--spacer-site-header-xlarge: 175px;
	--spacer-site-header-xxlarge: 255px;
	--spacer-panels-live-preview: 52px;

	/* -----------------------------------------------------------------------------
	 * Spacers (WP Admin Bar)
	 * ----------------------------------------------------------------------------- */

	--spacer-wp-admin-mobile: 46px;
	--spacer-wp-admin-desktop: 32px;
}
