:root {
	/* -----------------------------------------------------------------------------
	 * Font Stacks
	 * ----------------------------------------------------------------------------- */

	--font-family-core-icons: 'core-icons';
	--font-family-quando: 'Quando', serif;
	--font-family-gotham: "Gotham SSm A", "Gotham SSm B", sans-serif;
	--font-family-base: var(--font-family-gotham);

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-base: 16px;
	--font-size-content: 18px;
	--font-size-content-s: 16px;

	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	/* -----------------------------------------------------------------------------
	 * Line Heights
	 * ----------------------------------------------------------------------------- */

	--line-height-base: 1.5;
	--line-height-155: 1.55;
	--line-height-144: 1.44;
	--line-height-135: 1.35;
	--line-height-125: 1.25;
	--line-height-12: 1.2;
	--line-height-115: 1.15;
	--line-height-108: 1.08;
	--line-height-1: 1;

	/* -----------------------------------------------------------------------------
	 * Letter Spacing
	 * ----------------------------------------------------------------------------- */

	--letter-spacing-05: 0.05em;
	--letter-spacing-04: 0.04em;
	--letter-spacing-025: 0.025em;
}
