
/* -----------------------------------------------------------------------------
 *
 * Animation: Opacity In
 *
 * ----------------------------------------------------------------------------- */

@keyframes opacity-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* -----------------------------------------------------------------------------
 *
 * Animation: Opacity Out
 *
 * ----------------------------------------------------------------------------- */

@keyframes opacity-out {

	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* -----------------------------------------------------------------------------
 *
 * Animation: Visibility Out
 *
 * ----------------------------------------------------------------------------- */

@keyframes visibility-out {

	0% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
		z-index: auto;
	}
}

/* -----------------------------------------------------------------------------
 *
 * Animation: Bump Left
 *
 * ----------------------------------------------------------------------------- */

@keyframes bump-left {

	0%,
	100% {
		transform: translate(0, 0);
	}

	65% {
		transform: translate(-5px, 0);
	}
}

/* -----------------------------------------------------------------------------
 *
 * Animation: Bump Right
 *
 * ----------------------------------------------------------------------------- */

@keyframes bump-right {

	0%,
	100% {
		transform: translate(0, 0);
	}

	65% {
		transform: translate(5px, 0);
	}
}

/* -----------------------------------------------------------------------------
 *
 * Animation: Rotate
 *
 * ----------------------------------------------------------------------------- */

@keyframes rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
